# ─── API ─────────────────────────────────────────────────────────────────────
EXPO_PUBLIC_API_URL="http://localhost:3000"

# ─── Mapbox ──────────────────────────────────────────────────────────────────
EXPO_PUBLIC_MAPBOX_TOKEN=""
